@charset "UTF-8";

@media screen and (max-width: 1700px) {
    html{
    text-align: justify;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 1% 17%;
    border: black 2px solid;
}
header, article, aside, footer{
    border: 2px solid;
    padding: 7px;
    margin-top: 10px;
}
main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
header{
    padding: 9% 0%;
    background-color: yellow;
}
article{
    background-color: lawngreen;
}
aside{
    background-color: red;
    margin-left: 20px;
}
footer{
    text-align: center;
    background-color: aqua;
}
p{
    color: black;
}
.hide{
    display: none;
}
.segundoparagrafo{
    margin-top: 0%;
    margin-left: 7.5%;
}
article img{
    margin-right: 3%;
}
article p{
    margin-top: -39%;
    margin-left: 44%;
    margin-right: 1%;
}
}


@media screen and (max-width:932px) {
    main{
        display: block;
        flex-flow: column;
    }
    aside{
        text-align: center;
    }
    aside img{
        text-align: center;
        width: 100%;
    }
}